.gallery {
  padding-top: 20px;
  max-width: 100%;
  height: auto;
  background-color: var(--color-primary-light);
}

.gallery h2 {
  text-align: center;
  color: var(--color-primary);
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 10px;
}

.gallery img {
  display: block;
  margin: 0 auto;
}

.foto {
  display: none;
}

.gallery .galleryWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  right: -30%;
  flex-wrap: wrap;
  width: 900px;
  height: 100vh;
  margin-top: 50px;
}

.gallery .galleryWrapper div {
  border: 10px solid var(--color-primary);
  margin: 10px;
  width: 33%;
}

.gallery .galleryWrapper div .foto {
  max-width: 100%;
  height: auto;
}

.gallery .galleryWrapper .mobileFoto2,
.gallery .galleryWrapper .mobileFoto {
  border: none;

}

@media screen and (max-width: 850px) {


  .gallery {
    justify-content: center;
    align-items: center;

  }

  .galleryWrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;

    
  }

  .gallery .galleryWrapper {
    right: -15%;


  }

  .mobileFoto {
  display: none;

}




}

@media (min-width: 851px) and (max-width: 1280px) {

  .gallery .galleryWrapper {
    right: -2%;

  }

  .mobileFoto {
    display: block;
  }

  .gallery .galleryWrapper .mobileFoto {
    border: none;
  
  }

}

@media (max-width: 400px) {

  .gallery .galleryWrapper .mobileFoto2 {
    display: none;
  
  }

}