.location {
  
  background: url(bg-location.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

.location .head {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  background-color: var(--color-baloon);
  padding: 60px;
}

.location .head .info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.location .head .info .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-primary);
  border-radius: 100%;
  padding: 10px;
  width: 50px;
  margin-right: 10px;
}

.location .head .info .text span {
  display: block;
  font-size: 17px;
  margin-right: 10px;
}

.location .head .info .text span:first-child {
  color: silver;
}

.location .head .info .text span:last-child {
  color: white;
  font-weight: bold;
  word-wrap: break-word;

}

/***************
* FOOTER
****************/

.footer {
  background-color: var(--color-baloon);
  color: white;
  text-align: center;
  padding: 40px;
  font-size: 12px;
}

@media screen and (max-width: 850px) {
  .location {
    width: 100%;
  }

  .location .head {
    
    padding: 40px;
    height: auto;
  }

  .location .head .info .text span {
    justify-content: space-evenly;
    font-size: 9px;
  }

  .location .head .info .icon {
    width: 25px;
  }

  .location .head .info {
    margin: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .iconImg {
    width: 20px;
    height: 10px;
    
  }

  .location .head .info .icon {
    margin-bottom: 5px;
    
  }
}
